.version.index /* version checker */
{
	color: #0000F7;
	background-color: #6882C9;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	border-width: 0px;
	z-index: 1;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-image: none;
	width: 100%;
}

#menuu3210
{
	z-index: 2;
	margin-left: 50%;
	position: relative;
	width: 289px;
}

#u3225
{
	margin-right: -10000px;
	width: 59px;
	min-height: 40px;
	position: relative;
}

#u3228
{
	width: 59px;
	padding-bottom: 23px;
	position: relative;
}

#u3228:hover,#u3228.MuseMenuActive
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u3230
{
	left: 9px;
	position: relative;
	margin-right: -10000px;
	width: 41px;
	top: 11px;
	height: 17px;
}

#u3218
{
	margin-right: -10000px;
	width: 54px;
	left: 61px;
	min-height: 40px;
	position: relative;
}

#u3221
{
	width: 54px;
	padding-bottom: 23px;
	position: relative;
}

#u3221.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u3222
{
	left: 9px;
	position: relative;
	margin-right: -10000px;
	width: 36px;
	top: 11px;
	height: 17px;
}

#u3211
{
	margin-right: -10000px;
	width: 96px;
	left: 117px;
	min-height: 40px;
	position: relative;
}

#u3212
{
	width: 96px;
	padding-bottom: 23px;
	position: relative;
}

#u3212.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u3213
{
	left: 8px;
	position: relative;
	margin-right: -10000px;
	width: 79px;
	top: 11px;
	height: 17px;
}

#u3232
{
	margin-right: -10000px;
	width: 74px;
	left: 215px;
	min-height: 40px;
	position: relative;
}

#u3235
{
	width: 74px;
	padding-bottom: 23px;
	position: relative;
}

#u3235.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u3238
{
	left: 8px;
	position: relative;
	margin-right: -10000px;
	width: 57px;
	top: 11px;
	height: 17px;
}

#u9586-4
{
	margin-left: 50%;
	position: relative;
	min-height: 43px;
}

#u3667,#u3667-bw
{
	height: 1px;
}

#u2486-4
{
	left: 0px;
	display: block;
	margin-left: 0%;
	position: relative;
	vertical-align: top;
}

#u2484-8
{
	color: #030303;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
}

#u2484-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	padding-bottom: 20px;
}

#u2484-4,#u2484-6
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: justify;
	padding-bottom: 10px;
}

#u2487-4,#u2485-19,#u8040-15
{
	display: block;
	margin-left: 0%;
	position: relative;
	vertical-align: top;
}

#u10514,#u10590,#u8119,#u8136,#u8167
{
	border-color: transparent;
	margin-left: 50%;
	background-color: transparent;
	border-width: 0px;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1025px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3340px;
		padding-bottom: 78px;
		max-width: 1680px;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
		left: 20px;
	}

	#u3568
	{
		z-index: 31;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570
	{
		z-index: 29;
		height: 73px;
		width: 189px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#pu9586-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 8px;
		width: 26.43%;
		margin-left: 36.79%;
	}

	#u9586-4
	{
		z-index: 34;
		width: 444px;
		left: -222px;
	}

	#menuu3210
	{
		margin-top: 8px;
		left: -144px;
	}

	#u3667
	{
		z-index: 33;
	}

	#u3667-bw
	{
		z-index: 33;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	#pu10514
	{
		margin-top: 70px;
		width: 100%;
	}

	#u10514
	{
		z-index: 38;
		width: 1000px;
		padding-bottom: 0px;
		margin-right: -10000px;
		left: -500px;
	}

	#u2486-4
	{
		z-index: 66;
	}

	#u2487-4
	{
		z-index: 70;
		left: 0px;
	}

	#pu2485-19
	{
		margin-top: 70px;
		width: 100%;
		margin-left: 0%;
	}

	#u2485-19
	{
		z-index: 47;
		margin-right: -10000px;
		left: 0px;
	}

	#u2484-8
	{
		z-index: 39;
		width: 705px;
		min-height: 610px;
		margin-right: -10000px;
		left: -205px;
	}

	#u2484-2
	{
		font-size: 28px;
		line-height: 28px;
	}

	#u2484-4,#u2484-6
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u3688
	{
		z-index: 74;
		width: 1px;
		height: 3000px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-top: 170px;
		margin-left: 50%;
		left: -233px;
	}

	#u10590
	{
		z-index: 75;
		width: 705px;
		margin-right: -10000px;
		margin-top: 780px;
		left: -205px;
	}

	#u10590_position_content
	{
		width: 100%;
		margin-left: 0%;
	}

	#u8119
	{
		z-index: 91;
		width: 705px;
		min-height: 453px;
		left: -353px;
	}

	#u8040-15
	{
		z-index: 76;
		left: -1px;
	}

	#pu8136
	{
		margin-top: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u8136
	{
		z-index: 92;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: -353px;
	}

	#u8167
	{
		z-index: 93;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: 3px;
	}
}

@media (min-width: 801px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 4731.700000000001px;
		padding-top: 2px;
		padding-bottom: 62.29999999999927px;
		max-width: 1024px;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
		left: 20px;
	}

	#u3568
	{
		z-index: 31;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570
	{
		z-index: 29;
		height: 73px;
		width: 189px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#pu9586-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 6px;
		width: 43.36%;
		margin-left: 28.33%;
	}

	#u9586-4
	{
		z-index: 34;
		width: 444px;
		left: -222px;
	}

	#menuu3210
	{
		margin-top: 8px;
		left: -145px;
	}

	#u3667
	{
		z-index: 33;
	}

	#u3667-bw
	{
		z-index: 33;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	#pu10514
	{
		margin-top: 68px;
		width: 100%;
	}

	#u10514
	{
		z-index: 38;
		width: 800px;
		margin-right: -10000px;
		left: -400px;
	}

	#u2486-4
	{
		z-index: 66;
	}

	#u2487-4
	{
		z-index: 70;
		left: 10px;
	}

	#pu2485-19
	{
		margin-top: 50px;
		width: 97.75%;
		margin-left: 1.13%;
	}

	#u2485-19
	{
		z-index: 47;
		margin-right: -10000px;
		left: 1.4210854715202004e-14px;
	}

	#u2484-8
	{
		z-index: 39;
		width: 490px;
		min-height: 608px;
		margin-right: -10000px;
		left: -98.99999999999999px;
	}

	#u2484-2
	{
		font-size: 28px;
		line-height: 28px;
	}

	#u2484-4,#u2484-6
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u3688
	{
		z-index: 74;
		width: 1px;
		height: 4400px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-top: 150px;
		margin-left: 50%;
		left: -124px;
	}

	#u10590
	{
		z-index: 75;
		width: 490px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 974px;
		left: -99px;
	}

	#u10590_position_content
	{
		width: 100%;
		margin-left: 0%;
	}

	#u8119
	{
		z-index: 91;
		width: 490px;
		min-height: 337px;
		left: -245px;
	}

	#u8040-15
	{
		z-index: 76;
		margin-top: 6px;
		left: -1px;
	}

	#u8136
	{
		z-index: 92;
		width: 490px;
		min-height: 886px;
		margin-top: 4px;
		left: -245px;
	}

	#u8167
	{
		z-index: 93;
		width: 490px;
		min-height: 842px;
		left: -245px;
	}
}

@media (min-width: 601px) and (max-width: 800px)
{
	#muse_css_mq
	{
		background-color: #000320;
	}

	#bp_800.active
	{
		display: block;
	}

	#page
	{
		min-height: 3816px;
		padding-bottom: 62px;
		max-width: 800px;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
		left: 20px;
	}

	#u3568
	{
		z-index: 31;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570
	{
		z-index: 29;
		height: 73px;
		width: 189px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#pu9586-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 8px;
		width: 36.13%;
		margin-left: 31.94%;
	}

	#u9586-4
	{
		z-index: 34;
		width: 165px;
		left: -83.49999999999997px;
	}

	#menuu3210
	{
		left: -145.49999999999997px;
	}

	#u3667
	{
		z-index: 33;
	}

	#u3667-bw
	{
		z-index: 33;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	#u10514
	{
		z-index: 38;
		width: 580px;
		padding-bottom: 0px;
		margin-top: 70px;
		left: -290px;
	}

	#u2486-4
	{
		z-index: 66;
	}

	#u2487-4
	{
		z-index: 70;
		left: 41px;
	}

	#u2485-19
	{
		z-index: 47;
		margin-top: 50px;
		left: 0px;
	}

	#u2484-8
	{
		z-index: 39;
		width: 580px;
		min-height: 740px;
		margin-top: 2px;
		left: -290px;
	}

	#u2484-2
	{
		font-size: 28px;
		line-height: 28px;
	}

	#u2484-4,#u2484-6
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u10590
	{
		z-index: 74;
		width: 590px;
		top: -2px;
		margin-bottom: -2px;
		left: -295px;
	}

	#u8119
	{
		z-index: 90;
		width: 580px;
		min-height: 401px;
		left: -290px;
	}

	#u8040-15
	{
		z-index: 75;
		margin-top: 5px;
		left: 4px;
	}

	#u10514_position_content,#pu8136
	{
		width: 100%;
		margin-left: 0%;
	}

	#u8136
	{
		z-index: 91;
		width: 295px;
		min-height: 620px;
		margin-right: -10000px;
		left: -295px;
	}

	#u8167
	{
		z-index: 92;
		width: 295px;
		min-height: 620px;
		margin-right: -10000px;
		left: 0px;
	}
}

@media (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 5443px;
		padding-top: 8px;
		padding-bottom: 65px;
		max-width: 600px;
	}

	#pmenuu3210
	{
		width: 100%;
	}

	#menuu3210
	{
		margin-right: -10000px;
		margin-top: 20px;
		left: -144px;
	}

	#u7552
	{
		z-index: 28;
		width: 37px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 20px;
	}

	#u9586-4
	{
		z-index: 30;
		width: 444px;
		margin-right: -10000px;
		left: -222px;
	}

	#u3667,#u3667-bw
	{
		z-index: 27;
	}

	#u10514
	{
		z-index: 34;
		width: 310px;
		margin-top: 51px;
		left: -155px;
	}

	#u2486-4
	{
		z-index: 62;
	}

	#u2487-4
	{
		z-index: 66;
		left: 0px;
	}

	#u2485-19
	{
		z-index: 43;
		margin-top: 30px;
		left: 0px;
	}

	#u2484-8
	{
		z-index: 35;
		width: 310px;
		min-height: 1000px;
		left: -155px;
	}

	#u2484-2
	{
		font-size: 24px;
		line-height: 24px;
	}

	#u2484-4,#u2484-6
	{
		font-size: 16px;
		line-height: 32px;
	}

	#u10590
	{
		z-index: 70;
		width: 310px;
		left: -155px;
	}

	#u10514_position_content,#u10590_position_content
	{
		width: 100%;
		margin-left: 0%;
	}

	#u8119
	{
		z-index: 86;
		width: 310px;
		min-height: 401px;
		left: -155px;
	}

	#u8040-15
	{
		z-index: 71;
		left: -1px;
	}

	#u8136
	{
		z-index: 87;
		width: 310px;
		min-height: 620px;
		left: -155px;
	}

	#u8167
	{
		z-index: 88;
		width: 310px;
		min-height: 620px;
		left: -155px;
	}

	body
	{
		min-width: 320px;
	}
}

