.version.index /* version checker */
{
	color: #00001E;
	background-color: #D53A25;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	border-color: #7F7F7F;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: none;
	margin-right: auto;
	width: 100%;
	border-width: 0px;
}

#menuu3210
{
	z-index: 2;
	margin-left: 50%;
	position: relative;
	margin-right: -10000px;
}

#u3230-4
{
	left: 9px;
	position: relative;
	margin-right: -10000px;
	width: 42px;
	min-height: 17px;
}

#u3228:hover #u3230-4,#u3228.MuseMenuActive #u3230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u3222-4
{
	left: 9px;
	position: relative;
	margin-right: -10000px;
	width: 35px;
	min-height: 17px;
}

#u3221:hover #u3222-4,#u3221.MuseMenuActive #u3222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u3213-4
{
	left: 8px;
	position: relative;
	margin-right: -10000px;
	width: 82px;
	min-height: 17px;
}

#u3212:hover #u3213-4,#u3212.MuseMenuActive #u3213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u3225,#u3218,#u3211,#u3232
{
	margin-right: -10000px;
	min-height: 40px;
	position: relative;
}

#u3228,#u3221,#u3212,#u3235
{
	padding-bottom: 23px;
	position: relative;
}

#u3228:hover,#u3228.MuseMenuActive,#u3221.MuseMenuActive,#u3212.MuseMenuActive,#u3235.MuseMenuActive
{
	min-height: 0px;
	margin: 0px;
}

#u3238-4
{
	left: 8px;
	position: relative;
	margin-right: -10000px;
	width: 58px;
	min-height: 17px;
}

#u3235:hover #u3238-4,#u3235.MuseMenuActive #u3238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3667,#u3667-bw
{
	height: 1px;
}

#u2487-4
{
	color: #646464;
	margin-left: 50%;
	font-size: 14px;
	position: relative;
	left: -600px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	text-align: center;
	background-color: transparent;
	width: 1200px;
	min-height: 23px;
}

#u2485-19
{
	margin-left: 50%;
	text-align: right;
	position: relative;
	background-color: transparent;
}

#u2485-2
{
	color: #0071BC;
	font-weight: 400;
	font-family: futura-pt, sans-serif;
}

#u2485-3
{
	color: #0071BC;
	line-height: 34px;
	font-weight: 400;
	font-family: futura-pt, sans-serif;
	font-size: 28px;
}

#u2485-13
{
	color: #000000;
	line-height: 22px;
	font-weight: 400;
	font-family: futura-pt, sans-serif;
	font-size: 18px;
}

#u2485-5,#u2485-10,#u2485-15
{
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2485-7,#u2485-8,#u2485-12,#u2485-17
{
	color: #000000;
	font-weight: 400;
	font-family: futura-pt, sans-serif;
}

#u2484-9
{
	color: #030303;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
}

#u2484-2
{
	font-weight: 400;
	text-align: left;
	font-size: 28px;
	line-height: 28px;
	font-family: futura-pt, sans-serif;
	padding-bottom: 20px;
}

#u2484-5,#u2484-7
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: justify;
	padding-bottom: 10px;
}

#u8119,#u8136,#u8167
{
	border-color: transparent;
	margin-left: 50%;
	background-color: transparent;
	border-width: 0px;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

#u2486-4,#home,#u8040-15,body
{
	position: relative;
}

@media (min-width: 1025px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3417.937654499996px;
		padding-bottom: 0px;
		max-width: 1680px;
	}

	#page_position_content
	{
		margin-top: -1px;
		padding-bottom: 62px;
		width: 100%;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
	}

	#u3568
	{
		z-index: 36;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570-8
	{
		z-index: 28;
		width: 189px;
		min-height: 73px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#u3570-8:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 73px;
		width: 189px;
		margin: 13px -10000px 0px 0px;
	}

	#menuu3210
	{
		width: 293px;
		margin-top: 63px;
		left: -147px;
	}

	#u3225,#u3228
	{
		width: 60px;
	}

	#u3228:hover
	{
		width: 60px;
	}

	#u3228.MuseMenuActive
	{
		width: 60px;
	}

	#u3218
	{
		width: 53px;
		left: 62px;
	}

	#u3221
	{
		width: 53px;
	}

	#u3221.MuseMenuActive
	{
		width: 53px;
	}

	#u3211
	{
		width: 99px;
		left: 117px;
	}

	#u3212
	{
		width: 99px;
	}

	#u3212.MuseMenuActive
	{
		width: 99px;
	}

	#u3232
	{
		width: 75px;
		left: 218px;
	}

	#u3235
	{
		width: 75px;
	}

	#u3235.MuseMenuActive
	{
		width: 75px;
	}

	#u3230-4,#u3222-4,#u3213-4,#u3238-4
	{
		top: 11px;
	}

	#u3667
	{
		z-index: 38;
	}

	#u3667-bw
	{
		z-index: 38;
		margin-top: 5px;
	}

	#u2486-4
	{
		z-index: 69;
		width: 1200px;
		min-height: 59px;
		background-color: transparent;
		letter-spacing: 30px;
		line-height: 58px;
		font-size: 48px;
		text-align: center;
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		margin-top: 24px;
		margin-left: 50%;
		left: -600px;
	}

	#u2486-2
	{
		padding-bottom: 10px;
	}

	#u2487-4
	{
		z-index: 73;
	}

	#pu2485-19
	{
		margin-top: 71px;
		width: 100%;
	}

	#u2485-19
	{
		z-index: 50;
		width: 230px;
		min-height: 108px;
		margin-right: -10000px;
		left: -490px;
	}

	#u2485-2
	{
		font-size: 28px;
		line-height: 34px;
	}

	#u2485-5,#u2485-10,#u2485-15
	{
		font-size: 48px;
		line-height: 58px;
	}

	#u2485-7,#u2485-8,#u2485-12,#u2485-17
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u3688
	{
		z-index: 39;
		width: 1px;
		height: 2250px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -233px;
	}

	#pu2484-9
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 41.67%;
		margin-left: 29.17%;
	}

	#u2484-9
	{
		z-index: 41;
		width: 695px;
		min-height: 608px;
		left: -204.99999999999994px;
	}

	#u2484-5,#u2484-7
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u8119
	{
		z-index: 92;
		width: 700px;
		min-height: 453px;
		margin-top: 20px;
		left: -204.99999999999994px;
	}

	#u8040-15
	{
		z-index: 77;
		width: 695px;
		min-height: 1158px;
		background-color: transparent;
		color: #030303;
		text-align: justify;
		margin-top: 31px;
		margin-left: 50%;
		left: -204.99999999999994px;
	}

	#u8040-2,#u8040-7
	{
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 20px;
		font-family: futura-pt, sans-serif;
		font-weight: 400;
	}

	#u8040-4,#u8040-5,#u8040-9,#u8040-11,#u8040-13
	{
		font-size: 18px;
		line-height: 36px;
		padding-bottom: 10px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#pu8136
	{
		margin-top: 44px;
		width: 100%;
	}

	#u8136
	{
		z-index: 93;
		width: 420px;
		min-height: 750px;
		margin-right: -10000px;
		left: -420px;
	}

	#u8167
	{
		z-index: 94;
		width: 420px;
		min-height: 750px;
		margin-right: -10000px;
		left: 0px;
	}

	#home
	{
		top: -3258px;
		margin-bottom: -18px;
	}
}

@media (min-width: 801px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 3418px;
		max-width: 1024px;
	}

	#page_position_content
	{
		margin-top: -1px;
		padding-bottom: 62px;
		width: 100%;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
	}

	#u3568
	{
		z-index: 36;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570-8
	{
		z-index: 28;
		width: 189px;
		min-height: 73px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#u3570-8:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 73px;
		width: 189px;
		margin: 13px -10000px 0px 0px;
	}

	#menuu3210
	{
		width: 293px;
		margin-top: 63px;
		left: -146px;
	}

	#u3225,#u3228
	{
		width: 60px;
	}

	#u3228:hover
	{
		width: 60px;
	}

	#u3228.MuseMenuActive
	{
		width: 60px;
	}

	#u3218
	{
		width: 53px;
		left: 62px;
	}

	#u3221
	{
		width: 53px;
	}

	#u3221.MuseMenuActive
	{
		width: 53px;
	}

	#u3211
	{
		width: 99px;
		left: 117px;
	}

	#u3212
	{
		width: 99px;
	}

	#u3212.MuseMenuActive
	{
		width: 99px;
	}

	#u3232
	{
		width: 75px;
		left: 218px;
	}

	#u3235
	{
		width: 75px;
	}

	#u3235.MuseMenuActive
	{
		width: 75px;
	}

	#u3230-4,#u3222-4,#u3213-4,#u3238-4
	{
		top: 11px;
	}

	#u3667
	{
		z-index: 38;
	}

	#u3667-bw
	{
		z-index: 38;
		margin-top: 5px;
	}

	#u2486-4
	{
		z-index: 69;
		width: 1200px;
		min-height: 59px;
		background-color: transparent;
		letter-spacing: 30px;
		line-height: 36px;
		font-size: 30px;
		text-align: center;
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		margin-top: 24px;
		margin-left: 50%;
		left: -600px;
	}

	#u2486-2
	{
		padding-bottom: 10px;
	}

	#u2487-4
	{
		z-index: 73;
		margin-top: 9px;
	}

	#pu2485-19
	{
		margin-top: 35px;
		width: 100%;
	}

	#u2485-19
	{
		z-index: 50;
		width: 223px;
		min-height: 108px;
		margin-right: -10000px;
		left: -386px;
	}

	#u2485-2
	{
		font-size: 28px;
		line-height: 34px;
	}

	#u2485-5,#u2485-10,#u2485-15
	{
		font-size: 48px;
		line-height: 58px;
	}

	#u2485-7,#u2485-8,#u2485-12,#u2485-17
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u3688
	{
		z-index: 39;
		width: 1px;
		height: 2250px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -136px;
	}

	#pu2484-9
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.03%;
		margin-left: 25.49%;
	}

	#u2484-9
	{
		z-index: 41;
		width: 502px;
		min-height: 608px;
		left: -108px;
	}

	#u2484-5,#u2484-7
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u8119
	{
		z-index: 92;
		width: 502px;
		min-height: 325px;
		left: -108px;
	}

	#u8040-15
	{
		z-index: 77;
		width: 502px;
		min-height: 1158px;
		background-color: transparent;
		color: #030303;
		text-align: justify;
		margin-top: 6px;
		margin-left: 50%;
		left: -108px;
	}

	#u8040-2,#u8040-7
	{
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 20px;
		font-family: futura-pt, sans-serif;
		font-weight: 400;
	}

	#u8040-4,#u8040-5,#u8040-9,#u8040-11,#u8040-13
	{
		font-size: 18px;
		line-height: 36px;
		padding-bottom: 10px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#pu8136
	{
		margin-top: 47px;
		width: 100%;
	}

	#u8136
	{
		z-index: 93;
		width: 395px;
		min-height: 842px;
		margin-right: -10000px;
		left: -395px;
	}

	#u8167
	{
		z-index: 94;
		width: 395px;
		min-height: 842px;
		margin-right: -10000px;
		left: 0px;
	}

	#home
	{
		left: -307px;
		top: -3457px;
		margin-bottom: -18px;
	}
}

@media (min-width: 601px) and (max-width: 800px)
{
	#muse_css_mq
	{
		background-color: #000320;
	}

	#bp_800.active
	{
		display: block;
	}

	#page
	{
		min-height: 3330px;
		max-width: 800px;
	}

	#page_position_content
	{
		margin-top: -1px;
		padding-bottom: 62px;
		width: 100%;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
	}

	#u3568
	{
		z-index: 36;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570-8
	{
		z-index: 28;
		width: 189px;
		min-height: 73px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#u3570-8:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 73px;
		width: 189px;
		margin: 13px -10000px 0px 0px;
	}

	#menuu3210
	{
		width: 293px;
		margin-top: 63px;
		left: -147px;
	}

	#u3225,#u3228
	{
		width: 60px;
	}

	#u3228:hover
	{
		width: 60px;
	}

	#u3228.MuseMenuActive
	{
		width: 60px;
	}

	#u3218
	{
		width: 53px;
		left: 62px;
	}

	#u3221
	{
		width: 53px;
	}

	#u3221.MuseMenuActive
	{
		width: 53px;
	}

	#u3211
	{
		width: 99px;
		left: 117px;
	}

	#u3212
	{
		width: 99px;
	}

	#u3212.MuseMenuActive
	{
		width: 99px;
	}

	#u3232
	{
		width: 75px;
		left: 218px;
	}

	#u3235
	{
		width: 75px;
	}

	#u3235.MuseMenuActive
	{
		width: 75px;
	}

	#u3230-4,#u3222-4,#u3213-4,#u3238-4
	{
		top: 11px;
	}

	#u3667
	{
		z-index: 38;
	}

	#u3667-bw
	{
		z-index: 38;
		margin-top: 5px;
	}

	#u2486-4
	{
		z-index: 68;
		width: 627px;
		min-height: 59px;
		background-color: transparent;
		letter-spacing: 30px;
		line-height: 29px;
		font-size: 24px;
		text-align: center;
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		margin-top: 28px;
		margin-left: 50%;
		left: -314px;
	}

	#u2486-2
	{
		padding-bottom: 10px;
	}

	#u2487-4
	{
		z-index: 72;
	}

	#phome
	{
		margin-top: 61px;
		width: 100%;
	}

	#home
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 126px;
		left: 2px;
	}

	#u2485-19
	{
		z-index: 49;
		width: 598px;
		min-height: 160px;
		margin-right: -10000px;
		left: -299px;
	}

	#u2485-2
	{
		font-size: 28px;
		line-height: 34px;
	}

	#u2485-5,#u2485-10,#u2485-15
	{
		font-size: 48px;
		line-height: 58px;
	}

	#u2485-7,#u2485-8,#u2485-12,#u2485-17
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u2484-9
	{
		z-index: 40;
		width: 592px;
		min-height: 710px;
		margin-top: 60px;
		left: -295px;
	}

	#u2484-5,#u2484-7
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u8119
	{
		z-index: 91;
		width: 590px;
		min-height: 401px;
		margin-top: 19px;
		left: -295px;
	}

	#u8040-15
	{
		z-index: 76;
		width: 595px;
		min-height: 1353px;
		background-color: transparent;
		color: #030303;
		text-align: justify;
		margin-top: 25px;
		margin-left: 50%;
		left: -295px;
	}

	#u8040-2,#u8040-7
	{
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 20px;
		font-family: futura-pt, sans-serif;
		font-weight: 400;
	}

	#u8040-4,#u8040-5,#u8040-9,#u8040-11,#u8040-13
	{
		font-size: 18px;
		line-height: 36px;
		padding-bottom: 10px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#pu8136
	{
		margin-top: 22px;
		width: 100%;
	}

	#u8136
	{
		z-index: 92;
		width: 295px;
		min-height: 620px;
		margin-right: -10000px;
		left: -293px;
	}

	#u8167
	{
		z-index: 93;
		width: 295px;
		min-height: 620px;
		margin-right: -10000px;
		left: 2px;
	}
}

@media (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 5000.679787234043px;
		padding-top: 19px;
		padding-bottom: 62.32021276595697px;
		max-width: 600px;
	}

	#u7552
	{
		z-index: 28;
		width: 37px;
		position: relative;
		margin-right: -10000px;
		left: 10px;
	}

	#menuu3210
	{
		width: 272px;
		left: -136px;
	}

	#u3225,#u3228
	{
		width: 57px;
	}

	#u3228:hover
	{
		width: 57px;
	}

	#u3228.MuseMenuActive
	{
		width: 57px;
	}

	#u3218
	{
		width: 51px;
		left: 59px;
	}

	#u3221
	{
		width: 51px;
	}

	#u3221.MuseMenuActive
	{
		width: 51px;
	}

	#u3211
	{
		width: 90px;
		left: 112px;
	}

	#u3212
	{
		width: 90px;
	}

	#u3212.MuseMenuActive
	{
		width: 90px;
	}

	#u3232
	{
		width: 68px;
		left: 204px;
	}

	#u3235
	{
		width: 68px;
	}

	#u3235.MuseMenuActive
	{
		width: 68px;
	}

	#u3230-4,#u3222-4,#u3213-4,#u3238-4
	{
		top: 10px;
	}

	#u3667
	{
		z-index: 27;
	}

	#u3667-bw
	{
		z-index: 27;
		margin-top: 15px;
	}

	#u2486-4
	{
		z-index: 59;
		display: block;
		vertical-align: top;
		margin-top: 18px;
		margin-left: 0%;
		left: 140px;
	}

	#pu7552,#pu2487-4
	{
		width: 100%;
	}

	#u2487-4
	{
		z-index: 63;
		margin-right: -10000px;
	}

	#home
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 8px;
	}

	#u2485-19
	{
		z-index: 40;
		width: 320px;
		min-height: 251px;
		margin-top: 26px;
		left: -160px;
	}

	#u2485-2,#u2485-5,#u2485-10,#u2485-15
	{
		font-size: 24px;
		line-height: 29px;
	}

	#u2485-7,#u2485-8,#u2485-12,#u2485-17
	{
		font-size: 12px;
		line-height: 14px;
	}

	#u2484-9
	{
		z-index: 31;
		width: 320px;
		min-height: 983px;
		margin-top: 25px;
		left: -160px;
	}

	#u2484-5
	{
		font-size: 14px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u2484-3
	{
		line-height: 28px;
	}

	#u2484-4,#u2484-7
	{
		font-size: 16px;
		line-height: 32px;
	}

	#u8119
	{
		z-index: 82;
		width: 320px;
		min-height: 401px;
		left: -160px;
	}

	#u8040-15
	{
		z-index: 67;
		display: block;
		vertical-align: top;
		margin-left: 0%;
		left: 140px;
	}

	#u8136
	{
		z-index: 83;
		width: 320px;
		min-height: 670px;
		margin-top: 9px;
		left: -160px;
	}

	#u8167
	{
		z-index: 84;
		width: 320px;
		min-height: 670px;
		left: -160px;
	}

	body
	{
		min-width: 320px;
	}
}

