#u10949
{
	border-style: solid;
	background-color: transparent;
	border-color: #EEEEEE;
	border-width: 1px;
}

#u11157
{
	display: block;
}

#u10737-4
{
	color: #FF0000;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
}

#menuu10742
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
}

#u11159,#u10764,#u10765,#u10757,#u10760,#u10750,#u10751,#u10743,#u10746
{
	background-color: transparent;
}

#u10767-4,#u10763-4,#u10754-4,#u10748-4
{
	font-weight: bold;
	color: #777777;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	text-align: center;
}

#u10765:hover #u10767-4 p,#u10765:hover #u10767-4 span,#u10765.MuseMenuActive #u10767-4 p,#u10765.MuseMenuActive #u10767-4 span,#u10760:hover #u10763-4 p,#u10760:hover #u10763-4 span,#u10760.MuseMenuActive #u10763-4 p,#u10760.MuseMenuActive #u10763-4 span,#u10751:hover #u10754-4 p,#u10751:hover #u10754-4 span,#u10751.MuseMenuActive #u10754-4 p,#u10751.MuseMenuActive #u10754-4 span,#u10746:hover #u10748-4 p,#u10746:hover #u10748-4 span,#u10746.MuseMenuActive #u10748-4 p,#u10746.MuseMenuActive #u10748-4 span
{
	color: #0072BC;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.MenuItem
{
	cursor: pointer;
}

@media (min-width: 1021px)
{
	#u11192
	{
		background-color: #0072BC;
	}

	#u10738
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u10741-4
	{
		background-color: transparent;
		color: #0072BC;
		line-height: 34px;
		font-size: 28px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10741-4:hover
	{
		background-color: transparent;
	}

	#u10767-4
	{
		line-height: 19px;
		font-size: 16px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10763-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10754-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10748-4
	{
		line-height: 19px;
		font-size: 16px;
	}

}

@media (min-width: 801px) and (max-width: 1020px)
{
	#u11192
	{
		background-color: #0072BC;
	}

	#u10738
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u10741-4
	{
		background-color: transparent;
		color: #0072BC;
		line-height: 34px;
		font-size: 28px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10741-4:hover
	{
		background-color: transparent;
	}

	#u10767-4
	{
		line-height: 19px;
		font-size: 16px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10763-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10754-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10748-4
	{
		line-height: 19px;
		font-size: 16px;
	}

}

@media (min-width: 601px) and (max-width: 800px)
{
	#u11192
	{
		background-color: #0072BC;
	}

	#u10738
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u10741-4
	{
		background-color: transparent;
		color: #0072BC;
		line-height: 22px;
		font-size: 18px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10741-4:hover
	{
		background-color: transparent;
	}

	#u10767-4
	{
		line-height: 19px;
		font-size: 16px;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}

	#u10763-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10754-4
	{
		line-height: 19px;
		font-size: 16px;
	}

	#u10748-4
	{
		line-height: 19px;
		font-size: 16px;
	}

}

@media (max-width: 600px)
{
	#u10767-4
	{
		line-height: 14px;
		font-size: 12px;
	}

	#u10763-4
	{
		line-height: 14px;
		font-size: 12px;
	}

	#u10754-4
	{
		line-height: 14px;
		font-size: 12px;
	}

	#u10748-4
	{
		line-height: 14px;
		font-size: 12px;
	}

}

