	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3340px;
		padding-bottom: 78px;
		max-width: 1680px;
	}

	#pu3567
	{
		width: 100%;
	}

	#u3567
	{
		z-index: 27;
		width: 289px;
		position: relative;
		margin-right: -10000px;
		left: 20px;
	}

	#u3568
	{
		z-index: 31;
		width: 94px;
		position: relative;
		margin-right: -10000px;
	}

	#u3570
	{
		z-index: 29;
		height: 73px;
		width: 189px;
		position: relative;
		margin-right: -10000px;
		margin-top: 13px;
		left: 100px;
	}

	#pu9586-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 8px;
		width: 26.43%;
		margin-left: 36.79%;
	}

	#u9586-4
	{
		z-index: 34;
		width: 444px;
		left: -222px;
	}

	#menuu3210
	{
		margin-top: 8px;
		left: -144px;
	}

	#u3667
	{
		z-index: 33;
	}

	#u3667-bw
	{
		z-index: 33;
		margin-top: -1px;
		margin-bottom: -1px;
	}

	#pu10514
	{
		margin-top: 70px;
		width: 100%;
	}

	#u10514
	{
		z-index: 38;
		width: 1000px;
		padding-bottom: 0px;
		margin-right: -10000px;
		left: -500px;
	}

	#u2486-4
	{
		z-index: 66;
	}

	#u2487-4
	{
		z-index: 70;
		left: 0px;
	}

	#pu2485-19
	{
		margin-top: 70px;
		width: 100%;
		margin-left: 0%;
	}

	#u2485-19
	{
		z-index: 47;
		margin-right: -10000px;
		left: 0px;
	}

	#u2484-8
	{
		z-index: 39;
		width: 705px;
		min-height: 610px;
		margin-right: -10000px;
		left: -205px;
	}

	#u2484-2
	{
		font-size: 28px;
		line-height: 28px;
	}

	#u2484-4,#u2484-6
	{
		font-size: 18px;
		line-height: 36px;
	}

	#u3688
	{
		z-index: 74;
		width: 1px;
		height: 3000px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-top: 170px;
		margin-left: 50%;
		left: -233px;
	}

	#u10590
	{
		z-index: 75;
		width: 705px;
		margin-right: -10000px;
		margin-top: 780px;
		left: -205px;
	}

	#u10590_position_content
	{
		width: 100%;
		margin-left: 0%;
	}

	#u8119
	{
		z-index: 91;
		width: 705px;
		min-height: 453px;
		left: -353px;
	}

	#u8040-15
	{
		z-index: 76;
		left: -1px;
	}

	#pu8136
	{
		margin-top: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u8136
	{
		z-index: 92;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: -353px;
	}

	#u8167
	{
		z-index: 93;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: 3px;
	}

