	#u3567
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u3570-8
	{
		background-color: transparent;
		color: #0072BC;
		line-height: 24px;
		font-size: 20px;
		font-family: futura-pt, sans-serif;
		font-weight: 400;
	}

	#u3568,#u3570-8:hover
	{
		background-color: transparent;
	}

	#u3230-4
	{
		color: #444444;
		font-size: 14px;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
		font-weight: normal;
	}

	#u3222-4
	{
		color: #444444;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	}

	#u3213-4
	{
		color: #444444;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	}

	#u3238-4
	{
		color: #444444;
		font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	}


