	#u3567
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u3568
	{
		background-color: transparent;
	}

	#u3570
	{
		vertical-align: top;
		background: transparent url("../images/u3570.png") no-repeat 0px 0px;
	}

	#u3570:hover
	{
		background: transparent url("../images/u3570-r.png") no-repeat 0px 0px;
	}


