	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1680px;
	}

	#u10949
	{
		width: 2999px;
		margin-top: 80px;
		left: -39.29%;
	}

	#u11159
	{
		z-index: 37;
		width: 166px;
		margin-top: 20px;
	}

	#u11157
	{
		z-index: 38;
	}

	#u11192
	{
		z-index: 39;
		width: 1px;
		height: 40px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 193px;
	}

	#u10738
	{
		z-index: 32;
		width: 338px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 201px;
	}

	#u10741-4
	{
		z-index: 33;
		width: 338px;
		min-height: 39px;
		position: relative;
		margin-right: -10000px;
	}

	#u10741-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 39px;
		width: 338px;
		margin: 0px -10000px 0px 0px;
	}

	#pmenuu10742
	{
		margin-top: 82px;
		width: 59.53%;
		margin-left: 20.24%;
	}

	#menuu10742
	{
		width: 357px;
		left: -179px;
	}

	#u10765
	{
		width: 65px;
		padding-bottom: 19px;
	}

	#u10764,#u10765:hover
	{
		width: 65px;
	}

	#u10765.MuseMenuActive
	{
		width: 65px;
	}

	#u10767-4
	{
		width: 50px;
		min-height: 19px;
		top: 9px;
	}

	#u10765:hover #u10767-4
	{
		min-height: 19px;
		width: 50px;
	}

	#u10765.MuseMenuActive #u10767-4
	{
		min-height: 19px;
		width: 50px;
	}

	#u10757
	{
		width: 62px;
		left: 67px;
	}

	#u10760
	{
		width: 62px;
		padding-bottom: 19px;
	}

	#u10760:hover
	{
		width: 62px;
	}

	#u10760.MuseMenuActive
	{
		width: 62px;
	}

	#u10763-4
	{
		width: 47px;
		min-height: 19px;
		top: 9px;
	}

	#u10760:hover #u10763-4
	{
		min-height: 19px;
		width: 47px;
	}

	#u10760.MuseMenuActive #u10763-4
	{
		min-height: 19px;
		width: 47px;
	}

	#u10750
	{
		width: 129px;
		left: 131px;
	}

	#u10751
	{
		width: 129px;
		padding-bottom: 19px;
	}

	#u10751:hover
	{
		width: 129px;
	}

	#u10751.MuseMenuActive
	{
		width: 129px;
	}

	#u10754-4
	{
		width: 114px;
		min-height: 19px;
		top: 9px;
	}

	#u10751:hover #u10754-4
	{
		min-height: 19px;
		width: 114px;
	}

	#u10751.MuseMenuActive #u10754-4
	{
		min-height: 19px;
		width: 114px;
	}

	#u10743
	{
		width: 95px;
		left: 262px;
	}

	#u10746
	{
		width: 95px;
		padding-bottom: 19px;
	}

	#u10746:hover
	{
		width: 95px;
	}

	#u10746.MuseMenuActive
	{
		width: 95px;
	}

	#u10748-4
	{
		width: 81px;
		min-height: 19px;
		top: 9px;
	}

	#u10746:hover #u10748-4
	{
		min-height: 19px;
		width: 81px;
	}

	#u10746.MuseMenuActive #u10748-4
	{
		min-height: 19px;
		width: 81px;
	}

	#u11294-4
	{
		z-index: 67;
		width: 1000px;
		min-height: 70px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 70px;
		left: -500px;
	}

	#u11303-4
	{
		z-index: 71;
		width: 1000px;
		left: -500px;
	}

	#pu11295-19
	{
		margin-top: 70px;
		width: 100%;
		margin-left: 0%;
	}

	#u11295-19
	{
		z-index: 48;
		width: 240px;
		min-height: 108px;
		margin-right: -10000px;
		left: -500px;
	}

	#u11295-2,#u11295-3
	{
		font-size: 28px;
		line-height: 34px;
	}

	#u11295-7,#u11295-8,#u11295-12,#u11295-13,#u11295-17
	{
		font-size: 18px;
		line-height: 22px;
	}

	#u11297
	{
		z-index: 75;
		width: 1px;
		height: 3000px;
		background-color: #7F7F7F;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -233px;
	}

	#pu11296-8
	{
		margin-right: -10000px;
		width: 70.5%;
		margin-left: 14.76%;
	}

	#u11296-8
	{
		z-index: 40;
		width: 705px;
		min-height: 610px;
		left: -205.50000000000003px;
	}

	#u11302
	{
		z-index: 91;
		width: 705px;
		min-height: 453px;
		left: -205.50000000000003px;
	}

	#u11299-15
	{
		z-index: 76;
		width: 705px;
		min-height: 1158px;
		margin-top: 27px;
		left: -205.50000000000003px;
	}

	#u11296-2,#u11299-2,#u11299-5,#u11299-7
	{
		font-size: 28px;
		line-height: 28px;
	}

	#u11296-4,#u11296-6,#u11299-4,#u11299-9,#u11299-11,#u11299-13
	{
		font-size: 18px;
		line-height: 36px;
	}

	#pu11301
	{
		margin-top: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u11301
	{
		z-index: 92;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: -205.50000000000003px;
	}

	#u11300
	{
		z-index: 93;
		width: 350px;
		min-height: 750px;
		margin-right: -10000px;
		left: 150.49999999999997px;
	}

	#u10737-4
	{
		width: 444px;
		min-height: 28px;
		margin-top: 52px;
		left: -464px;
	}


